<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Saya</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Londrina+Sketch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Londrina+Sketch&display=swap" rel="stylesheet">

</head>
<body>

<header>
    <div class="contents">
        <h1>Profil Kelompok</h1>
    </div>
</header>



<div class="content">
    <div class="profile">
        <img src="static/images/haki.jpg" alt="Foto Profil">
        <div class="info">
            <h2>Muhamad Akbar Baihaqqy Ramadhani</h2>
            <h3>S1 Teknik Komputer</h3>
            <h3>Halo, saya Haki, seorang mahasiswa dari Kelas 22TK02, 
                Prodi Teknik Komputer di Universitas Amikom Yogyakarta. 
                Saya berasal dari karawang,  saya sedang menempuh 
                pendidikan S1 di Teknik Komputer di Universitas Amikom 
                Yogyakarta, di mana saya mulai membangun dasar pengetahuan 
                saya di dunia teknologi.</h3>
        </div>
    </div>
</div>
<div class="content">
    <div class="profile">
        <img src="static/images/aidhil.jpg" alt="Foto Profil">
        <div class="info">
            <h2>Muhamad Aidhil Fitrah Ramadhan</h2>
            <h3>S1 Teknik Komputer</h3>
            <h3>Halo, saya Muhamad Aidhil Fitrah Ramadan, seorang mahasiswa 
                dari program studi Teknik Komputer di Universitas Amikom 
                Yogyakarta. Saya berasal dari kota Merauke - Papua , yang 
                berada di ujung timur Indonesia dan dikenal sebagai kota rusa.
                saya sekarang sedang berfokus belajar mendalami Machine Learning dan 
                Artificial Intelegence (AI).
        </div>
    </div>
</div>

<div class="content">
    <div class="profile">
        <img src="static/images/david.jpg" alt="Foto Profil">
        <div class="info">
            <h2>Nama: David Chandra Putra Rianto</h2>
            <h3>S1 Teknik Komputer</h3>
            <h3>Hii, saya David Chandra Putra Rianto, salah satu mahasiswa 
                Prodi Teknik Komputer di Universitas Amikom Yogyakarta. 
                Saya berasal dari LAHAT SUMATERA SELATAN. Pendidikan saya 
                di dunia teknologi dimulai di sini, di Universitas Amikom 
                Yogyakarta. Dengan tekat belajar yang tinggi dan komitmen 
                untuk berkontribusi pada dunia teknologi. saya berharap 
                dapat terus berkembang di lingkungan yang saya gemari ini.</h3>
        </div>
    </div>
</div>

<div class="content">
    <div class="profile">
        <img src="static/images/amir.jpg" alt="Foto Profil">
        <div class="info">
            <h2>Nama: Amir Nuril Izza Al Surur</h2>
            <h3>S1 Teknik Komputer</h3>
            <h3>Halo, saya Amir, seorang mahasiswa dari Kelas 22TK02, Prodi 
                Teknik Komputer di Universitas Amikom Yogyakarta. Saya berasal 
                dari Temanggung, Temanggung adalah sebuah kota di Jawa Tengah 
                yang mendapat julukan "Kota Tembakau". Pendidikan saya di dunia 
                teknologi dimulai di Universitas Amikom Yogyakarta. Dengan 
                semangat belajar yang tinggi dan komitmen untuk berkontribusi 
                pada dunia teknologi. saya berharap dapat terus berkembang di 
                lingkungan akademis yang dinamis ini.
                </h3>
        </div>
    </div>
</div>

</body>
</html>